<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKMusicClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE2CE2F51C9312BE00A284FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2CE3111C9312BE00A284FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2CE31C1C9312BE00A284FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
